* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
}

header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 7%;
  width: 100%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  z-index: 1000;
  background-color: #053669;
}

.logo {
  width: 150px;
  display: flex;
  align-items: center;
}
.logo img {
  width: 55%;
}

.logo a {
  font-weight: 700;
  font-size: 1rem;
  margin-top: 10px;
  margin-left: 10px;
  color: white;
}

.logo span {
  background-color: rgb(18, 117, 51);
  padding: 0px 5px;
  color: white;
  border-radius: 5px;
  font-weight: bold;
}

.navbar {
  align-items: center;
}

.navbar a {
  color: rgba(255, 255, 255, 0.849);
  font-weight: 500;
  font-size: 1.2rem;
  margin: 0.8rem;
  position: relative;
  transition: 0.5s;
  left: 100px;
}
.navbar a:hover {
  color: #f9fdff;
}

.navbar a::after {
  content: "";
  background-color: white;
  width: 0;
  position: absolute;
  height: 0.2rem;
  left: 0;
  margin-top: 0.5rem;
  top: 100%;
  transition: 0.5s;
}
.navbar a:hover::after {
  width: 100%;
}
.btn {
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: 500;
  background: rgb(18, 117, 51);
  color: aliceblue;
  text-decoration: none;
  cursor: pointer;
  border-radius: 50px;
  margin-left: 100px;
}
.btnout {
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: 500;
  background: rgb(18, 117, 51);
  color: aliceblue;
  text-decoration: none;
  cursor: pointer;
  border-radius: 50px;
}

.btn a {
  color: white;
}
.btn:hover {
  background-color: rgb(2, 48, 2);
}

#Home {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 150px;
}

.Home-content {
  max-width: 1200px;
  width: 90%;
  margin: 0px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
  margin-top: auto;
}

.Home-img {
  display: flex;
}

.Home-img img {
  width: 100%;
  height: 100%;
  max-height: 450px;
  object-fit: contain;
  object-position: center bottom;
}

.Home-text {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.Home-text h1 {
  font-size: 3.2rem;
  line-height: 3.6rem;
}

.Home-text p {
  margin: 15px 0px;
  max-width: 500px;
  letter-spacing: 0.3px;
  line-height: 1.8rem;
}

.Home-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.Home-btn a {
  height: 45px;
  padding: 0px 15px;
  font-size: 0.9rem;
  font-weight: 500;
  background-color: rgb(18, 117, 51);
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.5px;
  font-weight: 500;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.5s ease;
}

.Home-btn a i {
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgb(171, 237, 193);
  margin-right: 8px;
  font-size: 0.5rem;
  padding-bottom: 1px;
  color: black;
}

.Home-btn a:hover {
  padding: 1rem 1.5rem;
  background-color: rgb(5, 44, 18);
}

.buatjanji-btn {
  background: transparent !important;
  color: black !important;
  border: 2px solid rgb(18, 117, 51);
}

.buatjanji-btn:hover {
  background-color: rgb(5, 44, 18) !important;
  color: white !important;
  border: 2px solid rgb(5, 44, 18) !important;
}

.layanan {
  max-width: 1200px;
  width: 90%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 5px;
}
.info-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

.info-icon {
  width: 90px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  font-size: 1.4rem;
  background-color: rgb(3, 43, 57);
  border-radius: 5px;
  color: white;
}

.info-text {
  display: flex;
  flex-direction: column;
}

.info-text strong {
  font-weight: 700;
}

.info-text p {
  font-size: 0.55rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-align: justify;
}

#Tentang {
  background-color: white;
  max-width: 1200px;
  width: 90%;
  margin: 80px auto;
  border: 10px solid white;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.12);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.tentang-img {
  width: 100%;
  display: flex;
}

.tentang-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.tentang-text {
  padding: 50px;
}

.tentang-text h2 {
  font-size: 2rem;
  line-height: 2.2rem;
  font-weight: 700;
  text-align: center;
}

.tentang-text p {
  font-size: 0.9rem;
  margin: 10px 0px;
  line-height: 1.4rem;
  letter-spacing: 0.3px;
  text-align: justify;
}

.tentang-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-top: 20px;
}

.tentang-box {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.tentang-text strong {
  font-weight: 700;
  font-size: 1.8rem;
}

.tentang-text span {
  font-size: 0.9rem;
}

.box-no1 {
  background-color: rgb(158, 220, 240);
}
.box-no2 {
  background-color: rgb(253, 177, 174);
}
.box-no3 {
  background-color: rgb(171, 252, 179);
}
.box-no4 {
  background-color: rgb(186, 195, 196);
}

#Poli {
  width: 100%;
  background-color: #f5f7fb;
  margin: 50px auto 0px auto;
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.poli-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

.poli-heading-text strong {
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 1px;
}
.poli-heading-text h2 {
  font-size: 1.5rem;
  font-weight: 700;
  max-width: 600;
}

.poli-container {
  max-width: 1200px;
  width: 90%;
  margin: 40px auto;
}

.poli-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 100%;
  border: 5px solid white;
  padding: 45px;
}

.poli-box:hover {
  border: 5px solid #c7d0eb;
}

.poli-box i {
  font-size: 2rem;
  width: 60px;
  height: 60px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.poli-box strong {
  font-size: 1.2rem;
  margin-top: 20px;
}

.poli-box p {
  font-size: 0.9rem;
  line-height: 1rem;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.poli-box a {
  height: 45px;
  background-color: #122853;
  color: white;
  padding: 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 5px;
  margin-top: 30px;
}
.poli-box a:hover {
  background-color: rgb(0, 20, 27) !important;
  color: rgb(249, 246, 246) !important;
}

.box-no1 {
  background-color: #ecf6fd;
}
.box-no1 i {
  background-color: #d4e2ff;
}

.box-no2 {
  background-color: #fdfcec;
}
.box-no2 i {
  background-color: #f2f4b5;
}

.box-no3 {
  background-color: #e5f5f8;
}
.box-no3 i {
  background-color: #b5e9f6;
}

.box-no4 {
  background-color: #fdecec;
}
.box-no4 i {
  background-color: #f5b0b0;
}

.box-no5 {
  background-color: #dfffd0;
}
.box-no5 i {
  background-color: #9ff68a;
}

.box-no6 {
  background-color: #ffebd0;
}
.box-no6 i {
  background-color: #fad193;
}

.box-no7 {
  background-color: #fee6f4;
}
.box-no7 i {
  background-color: #f69fe9;
}

.box-no8 {
  background-color: #e6f9de;
}
.box-no8 i {
  background-color: #d6ffa3;
}

.swiper-button-next,
.swiper-button-prev {
  color: #122853;
}

#pilihkami {
  width: 100%;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}

.kiri {
  padding: 50px;
  background-color: #72b79c;
}

.kanan {
  padding: 50px;
  background-color: #90a2d1;
}

.kiri h3,
.kanan h3 {
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 3.2rem;
  color: white;
}

.pilih-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
  grid-gap: 10px;
}

.pilih-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  background-color: #4a8a70;
  min-height: 100px;
}

.pilih-box i {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #25503f;
  margin-right: 10px;
  color: white;
  flex-shrink: 0;
}

.pilih-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.pilih-text strong {
  color: white;
  font-weight: 600;
}

.pilih-text p {
  color: #ececec;
  font-size: 0.8rem;
  opacity: 0.7;
}

.pilih-btn {
  background-color: #1a1a1bc4;
  color: white;
  padding: 0px 10px;
  display: flex;
  height: 45px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  max-width: 200px;
  margin-top: 30px;
  font-size: 0.9rem;
  font-weight: 500;
}

.pilih-btn:hover {
  background-color: white;
  color: black;
}

.kanan p {
  color: white;
  font-size: 0.8rem;
  line-height: 1.4rem;
  letter-spacing: 0.5px;
  margin: 10px 0px;
  font-weight: 500;
  text-align: justify;
}

.kanan-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.kanan-kontak {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
}

.kanan-kontak i {
  width: 50px;
  height: 50px;
  background-color: #6785d1;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.2rem;
  margin-right: 10px;
}
.kanan-kontak-box {
  display: flex;
  flex-direction: column;
}
.kanan-kontak-box span {
  color: white;
  font-size: 0.7rem;
  font-weight: 400;
}

.kanan-kontak-box strong {
  font-size: 1rem;
  color: white;
  font-weight: 600;
}

#Dokter {
  max-width: 1200px;
  width: 90%;
  margin: 80px auto;
}

.dokter-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.dokter-heading h3 {
  font-size: 2.4rem;
}

.dokter-heading p {
  font-size: 0.9rem;
  letter-spacing: 0.3px;
}

.dokter-container {
  width: 100%;
  margin-top: 40px;
}

.dokter-box {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dokter-box:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.dokter-text strong {
  transition: color 0.3s ease;
}

.dokter-box:hover .dokter-text strong {
  color: #023a76;
}

.dokter-img img {
  transition: transform 0.3s ease;
}

.dokter-box:hover .dokter-img img {
  transform: scale(1.1);
}

.dokter-img {
  background-color: white;
  padding: 10px 10px 0px 10px;
  height: 300px;
  display: flex;
  align-items: flex-end;
}

.dokter-img img {
  width: 100%;
  height: 95%;
  object-fit: contain;
  object-position: center bottom;
}

.dokter-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
  color: #053669;
}

.dokter-text p {
  font-size: 0.9rem;
  margin-top: 5px;
}

.dokter-text span {
  color: #02162c92;
}

.swiper-pagination {
  position: static !important;
  margin-top: 50px;
}
.swiper-pagination-bullet-active {
  background-color: #023a76;
}

.swiper-button-prev-dokter,
.swiper-button-next-dokter {
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #007bff;
  transition: all 0.3s ease;
  position: absolute;
}

.swiper-button-prev-dokter:hover,
.swiper-button-next-dokter:hover {
  background-color: #023a76;
  color: #fff;
}

.swiper-button-prev-dokter {
  left: 500px;
  bottom: 10px;
}

.swiper-button-next-dokter {
  right: 500px;
  bottom: 10px;
}

#Berita {
  padding: 5rem 2%;
  background-color: #f9f9f9;
}

.berita-heading h3 {
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 3rem;
}

.berita-kumpulan {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.berita-konten {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  max-width: 25rem;
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.berita-konten:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.berita-img img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}

.berita-text {
  padding: 2rem 2rem;
}

.berita-judul strong {
  font-size: 1.2rem;
  color: #333;
  display: block;
  margin-bottom: 1rem;
}

.berita-judul p {
  font-size: 0.8rem;
  color: #666;
  margin-bottom: 0.7rem;
  line-height: 1.6;
  text-align: justify;
}

.berita-judul a {
  font-size: 0.8rem;
  font-weight: 400;
  color: #023a76;
  text-decoration: none;
}

.berita-judul a:hover {
  color: #0056b3;
}

.fa-arrow-right,
.fa-arrow-left {
  font-size: 0.75rem;
  margin-left: 0.1rem;
  color: #023a76;
  transition: transform 0.3s;
}

.fa-arrow-right:hover,
.fa-arrow-left:hover {
  color: white;
}

.berita-judul a:hover .fa-arrow-right {
  transform: translateX(5px);
}

/* Footer Styling */
footer {
  background-color: #053669;
  color: rgb(255, 255, 255);
  font-weight: 500;
  padding: 40px 20px;
}

/* Footer Box */
.footer-box {
  background-color: rgba(3, 48, 82, 0.973);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 90%;
  margin: 0 auto;
}

/* Grid Layout for Footer Content */
.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  text-align: center;
}

.footer-logo-info a {
  font-weight: 700;
  font-size: 1rem;
  margin-top: 10px;
  margin-left: 10px;
}

.footer-logo-info span {
  background-color: rgb(18, 117, 51);
  padding: 0px 5px;
  color: white;
  border-radius: 5px;
  font-weight: bold;
}

.footer-logo {
  vertical-align: middle;
  margin-right: 5px;
  width: 50px;
}

.footer-contact {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer-contact p {
  font-size: 14px;
  line-height: 1.5;
  text-align: justify;
}

.footer-contact i {
  margin-bottom: 20px;
  font-size: 1.2rem;
  color: #a5d0ff;
}

/* Footer Bottom Section */
.footer-bottom {
  display: flex; /* Menggunakan flexbox */
  align-items: center; /* Menyelaraskan elemen secara vertikal */
  justify-content: center; /* Menyelaraskan elemen secara horizontal */
  flex-wrap: wrap; /* Responsif, pindah ke baris baru jika ruang tidak cukup */
  gap: 20px; /* Memberikan jarak antar elemen */
  margin-top: 20px;
}

.footer-bottom p {
  margin: 0;
  font-size: 14px;
  white-space: nowrap; /* Mencegah teks terpecah ke baris baru */
}

.social-icons {
  display: flex;
  align-items: center; /* Menyelaraskan ikon secara vertikal */
  gap: 10px; /* Memberikan jarak antar ikon */
}
.social-icons a {
  color: white;
  font-size: 20px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #1057a2;
}

#whatsapp-icon {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 1000;
}

#whatsapp-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

#whatsapp-logo {
  width: 60px; /* Sesuaikan ukuran logo */
  height: 60px;
}

#whatsapp-text {
  display: none;
  margin-right: 5px;
  font-size: 12px;
  color: #fff;
  background-color: #25d366;
  padding: 7px;
  border-radius: 50px;
}

#whatsapp-link:hover #whatsapp-text {
  display: block;
}

/* Styling untuk tombol yang dinonaktifkan */
.buatjanji-btn.disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

/* Pesan pop-up */
.login-message {
  display: none; /* Sembunyikan pesan secara default */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.553);
  border-radius: 10px;
  z-index: 1000;
  text-align: center;
}

.login-message p {
  font-size: 16px;
  color: #333;
  font-weight: 600;
  margin: 10px;
}

.login-message .login-link {
  color: #f2f6f4;
  text-decoration: none;
  background-color: #4a8a70;
  border-radius: 50px;
  padding: 10px;
  font-weight: 500;
}

.login-message .login-link:hover {
  background-color: #25503f;
}
